Ans to Q1. 
Database: A database is a structured collection of data organized in a way that allows for efficient retrieval, storage, and manipulation of data. It provides mechanisms for defining, querying, updating, and managing data.

SQL (Structured Query Language) databases: SQL databases are relational databases that store data in tables and use SQL as the standard language for managing and manipulating the data. They have a predefined schema, enforce strict data consistency, and support ACID (Atomicity, Consistency, Isolation, Durability) properties. Examples include MySQL, PostgreSQL, Oracle.

NoSQL (Not Only SQL) databases: NoSQL databases are non-relational databases that provide flexible schemas and are designed for handling large volumes of unstructured or semi-structured data. They are horizontally scalable and offer high performance and availability. NoSQL databases use different data models such as document-oriented, key-value, columnar, and graph databases. Examples include MongoDB, Cassandra, Redis.

Ans to Q2.
DDL (Data Definition Language): DDL is a subset of SQL used to define the structure of the database. It includes commands like CREATE, DROP, ALTER, and TRUNCATE.
CREATE: Used to create new database objects like tables, views, indexes, etc.
DROP: Used to delete existing database objects.
ALTER: Used to modify the structure of an existing database object.
TRUNCATE: Used to remove all rows from a table while keeping the table structure intact.
Example:

In [ ]:
CREATE TABLE employees (
    id INT PRIMARY KEY,
    name VARCHAR(50),
    age INT
);

ALTER TABLE employees ADD COLUMN salary DECIMAL(10, 2);

DROP TABLE employees;

TRUNCATE TABLE employees;

Ans to Q3.

DML (Data Manipulation Language): DML is a subset of SQL used to manipulate data stored in the database. It includes commands like INSERT, UPDATE, and DELETE.
INSERT: Used to insert new records into a table.
UPDATE: Used to modify existing records in a table.
DELETE: Used to delete existing records from a table.
Example:

In [ ]:
INSERT INTO employees (id, name, age) VALUES (1, 'John', 30);

UPDATE employees SET age = 35 WHERE id = 1;

DELETE FROM employees WHERE id = 1;

Ans to Q4.

DQL (Data Query Language): DQL is a subset of SQL used to retrieve data from the database. It primarily consists of the SELECT statement.
SELECT: Used to retrieve data from one or more tables based on specified criteria.
Example:

In [ ]:
SELECT * FROM employees WHERE age > 30;

Ans to Q5.

Primary Key: A primary key is a column or a set of columns that uniquely identifies each row in a table. It ensures data integrity and enforces entity integrity by preventing duplicate and null values. Only one primary key can be defined for a table.
Foreign Key: A foreign key is a column or a set of columns in one table that refers to the primary key in another table. It establishes a relationship between the two tables by enforcing referential integrity, ensuring that the values in the foreign key column(s) match the values in the primary key column(s) of the referenced table.